/* globals variables */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600;700;900&display=swap');
:root {
  --background-color-white: #f0f0f0;
  --background-color-black: #353535;
  --yellow-market: #ffdc1f;
  --yellow-market-dark: #ffcd36;
  --orange-market: #df622d;
  --button-color-login: #2e67dd;
  --button-color-singup: #de642d;
  --button-color-update: #6bdf2d;
  --button-color-delete: #df2d2d;
  --button-color-show: #860020;
  --font-color: #0c0d08;
  --font-color-hover: #f0f0f0;
  --font-style-Nunito: 'Nunito Sans', sans-serif;
  --font-style-Roboto: 'Roboto', sans-serif;
}
/*Body styles*/
body {
  color: #0c0d08;
  background-color: #ffcd36;
  background-image: linear-gradient(
      30deg,
      #df622d 12%,
      transparent 12.5%,
      transparent 87%,
      #df622d 87.5%,
      #df622d
    ),
    linear-gradient(
      150deg,
      #df622d 12%,
      transparent 12.5%,
      transparent 87%,
      #df622d 87.5%,
      #df622d
    ),
    linear-gradient(
      30deg,
      #df622d 12%,
      transparent 12.5%,
      transparent 87%,
      #df622d 87.5%,
      #df622d
    ),
    linear-gradient(
      150deg,
      #df622d 12%,
      transparent 12.5%,
      transparent 87%,
      #df622d 87.5%,
      #df622d
    ),
    linear-gradient(
      60deg,
      #df622d77 25%,
      transparent 25.5%,
      transparent 75%,
      #df622d77 75%,
      #df622d77
    ),
    linear-gradient(
      60deg,
      #df622d77 25%,
      transparent 25.5%,
      transparent 75%,
      #df622d77 75%,
      #df622d77
    );
  background-size: 52px 91px;
  background-position: 0 0, 0 0, 26px 46px, 26px 46px, 0 0, 26px 46px;
  display: flex;
  min-height: 100vh;
}

.form {
  background-color: #f0f0f0;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
  text-align: center;
}

.form__paragraph {
  font-weight: 300;
}
.form__link {
  font-weight: 400;
  color: #0c0d08;
}
.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
.form__group {
  position: relative;
  color: #575757;
}
.form__input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--font-color);
  font-family: 'Roboto', sans-serif;
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #df622d;
}
.form__label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.form__submit {
  background: var(--orange-market);
  color: #f0f0f0;
  font-family: var(--font-style-Roboto);
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}
.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--orange-market);
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
  transform: scale(1);
}
